<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-body">
                    <h2 class="card-title mb-4 text-center">Login</h2>
                    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Insert e-mail" [(ngModel)]="model.email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Insert password" [(ngModel)]="model.password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
            <div class="my-4">
                <hr>
            </div>
            <div class="mt-0 ms-3 text-center">
                <a [routerLink]="['/']">Enter without login</a>
            </div>
        </div>
    </div>
</div>
